/*======================== GENERALES ==========================*/
/*======================== GENERALES ==========================*/
/*======================== GENERALES ==========================*/
*{
	margin:0px;
	padding: 0px; 
}
:root{
	--negro:#1e272e;
	--azul-marino :#130f40;
	--morado:#4834d4;
	--grisClaro:#f1f2f6;
	--rosa:#be2edd;
	--verde-azul:#22a6b3;
	--verde:#0be881;
	--letra-normal:'Montserrat', sans-serif;
}
body{
	background: linear-gradient(var(--azul-marino),var(--negro));
}
section{
	display: flex;
	justify-content: space-around;
	position: relative;
	float: left;
	width: 100%;
	padding: 0px 100px;
	box-sizing: border-box;
}
.tema{
	height: 400PX;
	width: 400px;
	position: relative;
	float: left;
	margin-bottom: 100px;
	border-radius: 10px;
	background-image: url(img/h.jpg);
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	transition: .2s all;
}
#h:hover{
	background: linear-gradient(rgba(255, 168, 1,.8),rgba(255, 192, 72,.9)),url(img/h.jpg);
}
#c:hover{
	background: linear-gradient(rgba(15, 188, 249,.8),rgba(75, 207, 250,.9)),url(img/h.jpg);
}
#j:hover{
	background: linear-gradient(rgba(255, 211, 42,.8),rgba(255, 221, 89,.9)),url(img/h.jpg);
}
h1{
	text-align: center;
	font-size: 5em;
	text-transform: uppercase;
	line-height: 1em;
	margin: 100px 0px;
	background-image:linear-gradient(var(--verde-azul),var(--verde));
	-webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
}
h2{
	text-align:  center;
	font-size: 5em;
	line-height: 400px;
	font-weight: 900;
	color: white;
}
/*======================== MÓVIL ==========================*/
/*======================== MÓVIL ==========================*/
/*======================== MÓVIL ==========================*/
@media only screen and (max-width: 959px){

}
/*======================== MÓVIL ==========================*/
/*======================== MÓVIL ==========================*/
/*======================== MÓVIL ==========================*/
@media only screen and (min-width: 960px){

}


